
body { 
  background-image: url('bg_wood.png');
}

#word, #letters {
  margin: 0 auto;
  width: 600px;
}

.clearer {
  clear: both;
}

.letter-container {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000000;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.empty-letter-container {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000000;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.4;
}

.letter {
  font-family: 'Stoke', 'serif';
  font-size: 56px;
  width: 80px;
  padding: 20px 0px;
  border: 3px solid #0000AA;
  border-radius: 10px;
  text-align: center;
}

.letter-container.wrong {
  color: #EE0404;
  background-color: #DDDDDD;
  cursor: auto;
}

.letter-container.wrong .letter {
  border-color: #EE0404 !important;
}
